:root {
  --background-color: #f4f4f4;
  --accent: #00d177;
  --accent-rgb: 0, 209, 119;
  --font-bold: 800;
  --font-family: Roboto, "HelveticaNeue-Light", "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  --color-faded: 0.8;
}

body {
  background: var(--background-color);
  font-family: var(--font-family);
}

.accent {
  color: var(--accent) !important;
}

.font-bold {
  font-weight: var(--font-bold) !important;
}

.fa-search {
  cursor: pointer;
  opacity: 0.5;
}

.form-faded {
  opacity: 0.8;
}

.nav-item {
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: 500;
}

.navbar .material-icons {
  font-size: 1.6rem;
}

.active {
  border-bottom: 2px solid var(--accent);
  color: var(--accent) !important;
}

.active .nav-link {
  color: var(--accent) !important;
}

.text-muted {
  opacity: var(--color-faded) !important;
}

.more-icon {
  background-color: rgba(var(--accent-rgb), 0.1);
  cursor: pointer;
}
