:root {
  --background-color: #f4f4f4;
  --accent: #00d177;
  --accent-rgb: 0, 209, 119;
  --font-bold: 800;
  --font-family: Roboto, "HelveticaNeue-Light", "Helvetica Neue Light",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  --color-faded: 0.8;
  --font-light: 400;
  --border-circle: 50%;
  --border-sm: 5px;
}

body {
  background: var(--background-color);
  font-family: var(--font-family);
}

.accent {
  color: var(--accent) !important;
}

.font-bold {
  font-weight: var(--font-bold) !important;
}

.fa-search {
  cursor: pointer;
  opacity: 0.5;
}

.form-faded {
  opacity: 0.8;
}

.nav-item {
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: 500;
}

.navbar .material-icons {
  font-size: 1.6rem;
}

.active {
  border-bottom: 2px solid var(--accent);
  color: var(--accent) !important;
}

.active .nav-link {
  color: var(--accent) !important;
}

.text-muted {
  opacity: var(--color-faded) !important;
}

.more-icon {
  background-color: rgba(var(--accent-rgb), 0.1);
  cursor: pointer;
}

.cover-photo {
  object-fit: cover;
  height: 100px;
}

.profile-photo {
  height: 90px;
  width: 90px;
  object-fit: cover;
  border-radius: var(--border-circle);
  border: 4px solid white;
  margin: -38px auto 12px;
}

.profile-description .name {
  font-size: 1rem;
}

.profile-description .role {
  font-size: 0.75rem;
  font-weight: var(--font-light);
  width: 80%;
  line-height: 1.1rem;
}

.profile-stats .number {
  font-size: 1.6rem;
  color: var(--accent);
}

.profile-stats .desc {
  font-size: 0.85rem;
}

.border-sm {
  border-radius: var(--border-sm);
  overflow: hidden;
}

.post-profile-photo {
  width: 48px;
  height: 48px;
  object-fit: cover;
}

.post-user-name {
  font-size: 0.9rem;
}

.post-user-stats,
.post-time {
  font-size: 0.7rem;
  ffont-weight: var(--font-light);
  font-weight: 500;
  opacity: var(--color-faded) !important;
}
